.App {
  text-align: center;
}

.App-header {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #A64AC9;
}

.App-link {
  color: #61dafb;
}

.signup {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  background-color: #F5E6CC;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  border-radius: 15px;
  border: 5px solid #A64AC9;
  border: 1px solid #FFB48F;
  box-shadow:  -1px 1px #FFB48F,
       -2px 2px #FFB48F,
       -3px 3px #FFB48F,
       -4px 4px #FFB48F,
       -5px 5px #FFB48F;
  font-size: 1rem;
}

input {
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

label {
  padding: 10px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  
  
}

.select {
  padding: 10px;
  font-size: 1.5rem;
  color: #A64AC9;
  background: none;
  border: none;
}
